body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: #000;
}

#company-link{
    color: #000;

}
a, a:visited{
    text-decoration: none;
    color: #69696a;
    
}
main{
    padding: 2rem;
}
ul{
    list-style-type: none;
    
}
button{
    color: #fff;
    background-color: #000;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
}

blockquote{
    color: #69696a;
    border-left: solid 5px #69696a;
    padding: 10%;
}