body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    color: #000;
}

#company-link{
    color: #000;
}
a{
    text-decoration: none;
    color: #69696a;
    
}
ul{
    list-style-type: none;
    
}
button{
    color: #fff;
    background-color: #000;
}